table{
	background: rgba(0,0,0,0.8);
	border-collapse: collapse;
	border-spacing: 0;
	width: 80%;
		border: 1px solid #ddd;
	margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  color: #c5ecfd;
  font-size: 13px;
}
th,td{
	text-align:left;
	padding: 12px;
	width: 35px; 
}
tr:nth-child(even){
	background: rgba(0,0,0,0.3);
}